.navbar {
    width: 75%;
border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color:lightskyblue;


}
.navbar ul {
    display: flex;
    gap: 25px;
    justify-content: center;
}